<meta http-equiv="content-type" content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        <title>Arimaa</title>
        <link rel=stylesheet type="text/css" href="style.css" />
				<script src="vue@2.6.8.js"></script>
				<!-- <script src="vue.min.js"></script> -->
				<script src="src/arimaa_alt.js"></script>
				<script src="src/arimaa_alt_gui.js"></script>
				<script type="text/javascript">
					let setup = function () {
						c = new Client()
						c.connect()
					}
				</script>
		</head>
		<body onload="setup()">
			<div id="main" @click="function(){}">
				<div id="info_board">{{status}} <template v-if="your_turn"> ~ Moves made: {{moves_made}}</template></div>
				<!-- Side picking utility -->
				<template v-if="side_pick">
				<div id="side_pick">
					<a href="#" class="side_choice piece_a E black" :class="{chosen : side_choice == 0}" @click="side_choice = 0"></a>
					<a href="#" class="side_choice ambiv beige" :class="{chosen : side_choice == 2}" @click="side_choice = 2"></a>
					<a href="#" class="side_choice piece_a e_ white" :class="{chosen : side_choice == 1}" @click="side_choice = 1"></a>
				</div>
				<br/>
				<button style="height:2cm;" v-if="side_choice != -1" class="actionbutton" @click="confirm_choice">Confirm choice</button>
				</template>
				<!-- Board and related stuff -->
				<div class="board" v-if="show_board">
					<div style="position:relative;" class="innerboard">
						<!--Pieces - playing-->
						<template v-for="bp in pieces">
							<div
								class="square_button piece_a"
								:class="[bp.piece.class(), {marked : bp == marked}]"
								:style="[pos(bp.pos), {opacity: bp.alive ? 1 : 0, zIndex: bp.alive ? 2 : 1}]"
								v-on="piece_blah(bp)">
						</div>
						</template>
						<!-- Markers -->
						<template v-if="markers != undefined" v-for="m in markers">
							<template v-if="m.trapped.occupied">
								<div :style="pos(m.trapped.pos)" class="square_button skull"></div>
							</template>
							<div class="square_button" :class="m.class" :style="pos(m.to)" @click.stop="m.cb"></div>
						</template>
						<!--Board numbering/lettering-->
						<template v-once v-for="i in 16">
							<div class="marking lettering" :style="letter_pos(i > 8, (i-1)%8)"><span>{{board_letter((i-1)%8)}}<span></div>
						</template>
						<template v-once v-for="i in 16">
							<div class="marking numbering" :style="number_pos(i > 8, (i-1)%8)"><span>{{1+(i-1)%8}}</span></div>
						</template>
					</div>
				</div>
				<!-- Controls -->
				<button class="actionbutton" v-if="piece_setup && !sent_setup" @click="send_setup">Confirm piece setup</button>
				<button v-if="moves_made > 0" class="actionbutton" @click="ts.undo()">Undo</button>
				<button v-if="moves_made > 0" class="actionbutton" @click="ts.reset()">Reset turn</button>
				<template v-if="valid_turn">
					<button class="actionbutton" style="height:4em" @click="end_turn">End turn</button>
				</template>
				<!-- Setup and history -->
				<div
					style="text-align:center; font-family:monospace; font-size:1em; font-weight: bold; display:flex; flex-direction: column-reverse;">
					<div v-if="gs.white_setup" class="entry w_hist">{{gs.white_setup}}</div>
					<div v-if="gs.black_setup" class="entry b_hist">{{gs.black_setup}}</div>
					<div v-for="h, i in gs.move_history" class="entry" :class="['w_hist','b_hist'][i%2]">
						<span v-for="m in h"> {{m.toString()}}</span>
					</div>
				</div>
			</div>
		</body>
</html>
