<meta http-equiv="content-type" content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
 	<head>
  	<title>Arimaa testing ground</title>
		<link rel=stylesheet type="text/css" href="style_testing.css" />
		<script src="vue@2.4.2.js"></script>
		<!-- <script src="vue.min.js"></script> -->
		<script src="src/arimaa.js"></script>
		<script src="src/tests.js"></script>
		<script src="src/gui.js"></script>
		<script type="text/javascript">
			var server = undefined
			function _setup(){
				var c = new Client()
				c.connect()
				window.client = c
			}
			function setup()
			{
				list = [1, 2, 3, 4]
				vm = new Vue({
					el: "#main",
					data:{
						thelist : list
					},
				})
			}
	</script>
	<style type="text/css">
	  .con
	  {
	  position:relative;
	  width:500px;
	  height:500px;
	  background-color:gray;
	  }
	  .s
	  {
	  position:absolute;
	  width:12.5%;
	  height:12.5%;
	  background-color:red;
	  transition: left 0.2s ease, top 0.2s ease;
	  }
	</style>
    </head>
  <body style="display:block" onload="(() => { console.log(this); setup()})()">
	<div id="main">
	<h1 class="c a" >{{thelist.length}}</h1>
	<div class="con">
		<template v-for="i in thelist">
			<div style="margin:auto">{{i}}</div>
		</template>

	<!--
		<template v-for="t in test_obs">
	    <div class="s" :style="pos(t.pos.x, t.pos.y)"></div>
		</template>
	-->
	</div>
      </div> <!-- end of main -->
    </body>
</html>
