<meta http-equiv="content-type" content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        <title>Arimaa</title>
        <link rel=stylesheet type="text/css" href="style.css" />
	<script src="src/arimaa.js"></script>
	<script src="vue@2.4.2.js"></script>
	<script type="text/javascript">

	  let a_board = new Board()
	  
	  let board = []

	  var i;
	  for(i = 0; i < 64; i++)
			 {
			 //var j;
			 //some_array.push([])
			 //for(j = 0; j< 5; j++){
				       board.push({str : "string number " + i, num : i})
			//	       }
			 }

					 let active_pos = new Pos(0,0)
					 active_pos.x = -1
					 active_pos.y = -1
					 
	  thefunction = function(){

	  vm = new Vue({
	  el: "#main",
					 data: {
					 slogan: "The game of the aegis",
					 board : board,
					 a_board : a_board,
					 moves_remaining: 4,
					 turn: "white",
					 active: undefined
					 },
					 methods: {
					 piece_c : function(pc) { return piece_class(pc);},
					 pos : function(x, y){ return {top : y*12.5 + "%", left: x*12.5 + "%"} },
					 board_letter : function(n) { return "ABCDEFGH"[n];},
					 letter_pos : function(is_top, n) {
					 let obj = new Object()
					 obj.left = (n * 12.5) + '%'
					 if(is_top) {
					 obj.top = '-8.1395%'
					 } else
					 {
					 obj.bottom = '-8.1395%'
					 }
					 return obj
					 },
					 number_pos : function(left_side, n)
					 {
					 let obj = {top : n * 12.5 + '%'};
					 if (left_side)
					 { obj.left = '-8.1395%'}
					 else
					 { obj.right = '-8.1395%'}
					 return obj
					 }

					 }
	  })
	  
	  }
	</script>
    </head>
    <body onload="thefunction()">
        <div id="main" @click="active = undefined">
          <h1>Arimaa - {{slogan}}</h1>
	  <div>
	    Turn: it is {{turn}}'s turn<br/>
	    Moves remaining: {{moves_remaining}}
	    <h2>Board</h2>
	    <div class="board">
	      <div style="position:relative;" class="innerboard">
		<template v-for="i in 16" >
		  <div class="marking lettering" :style="letter_pos(i > 8, (i-1)%8)" ><span>{{board_letter((i-1)%8)}}<span></div>
		</template>
		<template v-for="i in 16">
		  <div class="marking numbering" :style="number_pos(i > 8, (i-1)%8)"><span>{{1+(i-1)%8}}</span></div>
		</template>
		<table style="border-collapse: collapse; width:100%; height:100%">
		  <tr v-for="i in 8" style="padding: 0px;margin:0px">
		    <td v-bind:class="(i * 8 + j) % 2 == i % 2 ? 'black' : 'white'" v-for="j in 8" ></td>
		  <tr/>
		</table>
		<template v-for="i in a_board.live_pieces">
		  <div class="square piece"
		       :class="[piece_c(i), i.pos == active ? 'piece_hover' : '']"
		       :style="pos(i.pos.x, i.pos.y)"
		       @click.stop="active = i.pos"
		       ></div>
		</template>
	      </div>
	    </div>
	  </div>
	  <div>
	    <h2>Log</h2>
	  </div>
        </div>
    </body>
</html>
