<meta http-equiv="content-type" content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        <title>Arimaa</title>
        <link rel=stylesheet type="text/css" href="style.css" />
	<script src="src/arimaa.js"></script>
	<script src="src/arimaa_gui.js"></script>
	<script src="vue@2.4.2.js"></script>
	<script type="text/javascript">
	  
	  
	  let initiate_game = function(){
	    vm = new Vue(obfun(new Board()));
	  }
	</script>
    </head>
    <body onload="setup()">
      <div id="main" @click="deactivate">
	<div v-if="side_selection">
	<div id="side_choice" :style="{display:'flex', justifyContent:'space-around'}">
	  <div class="selection_box elephant_w"></div>
	  <div class="selection_box elephant_b"></div>
	</div>
	  <button class="actionbutton">Confirm choice</button>	</div>
	<div id="info_board">{{status_msg}} <template v-if="your_turn"> ~~ Moves made: {{moves_made}}</template></div>
	<div class="board">
	  <div style="position:relative;" class="innerboard">
	    <template v-for="i in 16" >
	      <div class="marking lettering" :style="letter_pos(i > 8, (i-1)%8)" ><span>{{board_letter((i-1)%8)}}<span></div>
	    </template>
	    <template v-for="i in 16">
	      <div class="marking numbering" :style="number_pos(i > 8, (i-1)%8)"><span>{{1+(i-1)%8}}</span></div>
	    </template>
	    <template v-for="i in board.pieces()">
	      <div class="square piece"
		   :class="[piece_c(i[1]), i[0].equals(active) || i[0].equals(pusher) ? 'marked' : '']"
		   :style="pos(i[0].x, i[0].y)"
		   @click.stop="orig_click(i[0])">
	      </div>
	    </template>
	    <template v-for="m in markers_alt">
	      <div class="square" :class="dest_class(m)" :style="pos(m[0].x, m[0].y)" @click.stop="dest_click(m)"></div>
	    </template>
	  </div>
	</div>
	<button v-if="moves_made > 0" class="actionbutton" @click="ts.undo()">Undo</button>
	<button v-if="moves_made > 0" class="actionbutton" @click="ts.reset_turn()">Reset turn</button>
	<br />
	<br />
	<br />
	<br />
	<button v-if="valid_turn" class="actionbutton" style="height:80px" @click="end_turn">End turn</button>
      </div>
    </body>
</html>
