/* Board basics */

body
{
    margin:0px;
    padding:0px;
    max-width:100%;
    background-color:#160707;
    font-size:1.2em;
}

.board
{
    margin:0px;
    padding:0px;
    background-color: #331717;
}

@media all and (orientation: landscape)
{
    .board
    {
	height: 100vh;
	width: 100vh;
	margin:auto;
    }
    
    .marking
    {
	font-size: 3vh;
    }
}

@media all and (orientation: portrait)
{
    .board
    {
	height: 100vw;
	width: 100vw;
	max-width:100%;
    }

    .marking
    {
	font-size: 2.2vw;
    }
    
}

.innerboard
{
    position:relative;
    height:86%;
    width:86%;
    left:7%;
    top:7%;
    background-position:center;
    background-size: cover;
    background-image:url(img/board.svg)
}

.piece
{
    background-size: 90%;
    background-position:center;
    background-repeat:no-repeat;
}

.piece_a
{
    background-image:url(img/pc.svg);
    background-repeat:no-repeat;
    background-size:600% 200%;
    transition: left 0.5s linear, top 0.5s linear, opacity 0.5s 0.5s linear;
}

.ambiv
{
    background-image:url(img/ambiv.svg);
    background-size:100% 100%;
    background-position:center;
    background-repeat: no-repeat;
}

.marked
{
    border: 2px solid #ececec;
    margin-top:-2px;
    margin-left:-2px;
}

.marking
{
    color: #c28359;
    text-align: center;
    display: table;
    font-family: sans-serif;
    position:absolute;
    user-select: none;
}

.marking span
{
    display: table-cell;
    vertical-align: middle;
}

.lettering
{
    width:12.5%;
    height:8.1395%;
}

.numbering
{
    width:8.1395%;
    height:12.5%;
}

.numbering span
{
    display:table-cell;
    vertical-align:middle;
}

/* Controls*/

.actionbutton
{
    background-color:#160707;
    color: #c28359;
    border: ridge 1px #c28359;
    width:100%;
    padding: 5px;
    min-height:3em;
    font-size:1.2em;
}

.actionbutton:active
{   
    color:#160707;
    background-color: #c28359;
    border-style: inset;
}

#info_board
{
    font-family:sans-serif;
    color: #c28359;
    text-align:center;
    padding:1em;
}

/* Indicators*/

.outlined
{
    border: 2px solid white;
}

.clear
{
    background-image: url(img/circle.svg);
    background-size: cover;
}

.death
{
    border: 2px solid red;
    margin-top:-2px;
    margin-left:-2px;
}

.dead
{
    opacity:0;
}

.skull
{
    background-image: url(img/altskull.svg);
    background-size: cover;
}

.arrow
{
    background-image: url("img/arrow.svg");
}

/* Squares */

.w_hist
{
    background-color: #8a5050;
    color:#efefef;
}

.b_hist
{
    background-color: #c28359;
    color:101010;
}

.entry
{
    padding:0.5em;
}

.black
{
    background-color: #8a5050;
}

.white
{
    background-color: #c28359;
}

.beige
{
    background-color: #a66954;
}

.square_button
{
    position:absolute;
    width:12.5%;
    height:12.5%;
    opacity:1;
    z-index: 3;
    /*transition: left 1s, top 1s;*/
}

.pusher
{
    border: white 2px dotted;
    margin-top: -2px;
    margin-left: -2px;
}

/* Pieces */



.R
{
    background-position:0% 100%
}

.r_
{
    background-position:0% 0%
}

.C
{
    background-position:20% 100%
}

.c_
{
    background-position:20% 0%
}

.D
{
    background-position:40% 100%
}

.d_
{
    background-position:40% 0%
}

.H
{
    background-position:60% 100%
}

.h_
{
    background-position:60% 0%
}

.M
{
    background-position:80% 100%
}

.m_
{
    background-position:80% 0%
}

.E
{
    background-position:100% 100%
}

.e_
{
    background-position:100% 0%
}

#side_pick
{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow:row nowrap;
}

.side_choice
{
    width:30%;
    margin:0px;
    display:inline-block;
    border: 0px solid white;
    border-radius: 10% 10%;
}

.chosen
{
    border-width: 5px;
    width:calc(30% - 10px);
}

.side_choice::before
{
    content: "";
    display: block;
    padding-top:100%;
}

.padder
{
    padding-top:100%;
}

.selection_box
{
    height:256px;
    width:256px;
    background-position:center;
    background-size:cover;
    display:inline-block;
}