.rabbit_w
{
    background-image: url(img/p_rabbit_white.png)
}

.rabbit_b
{
    background-image: url(img/p_rabbit_black.png)
}

.cat_w
{
    background-image: url(img/p_cat_white.png)
}

.cat_b
{
    background-image: url(img/p_cat_black.png)
}

.dog_w
{
    background-image: url(img/p_dog_white.png)
}

.dog_b
{
    background-image: url(img/p_dog_black.png)
}

.horse_w
{
    background-image: url(img/p_horse_white.png)
}

.horse_b
{
    background-image: url(img/p_horse_black.png)
}

.camel_w
{
    background-image: url(img/p_camel_white.png)
}

.camel_b
{
    background-image: url(img/p_camel_black.png)
}

.elephant_w
{
    background-image: url(img/p_camel_white.png)
}

.elephant_b
{
    background-image: url(img/p_camel_black.png)
}